.banner {
  .nav-item {
    position: relative;
  }

  .nav-item:not(.active) .nav-link {
    @extend .btn-primary;

    cursor: pointer;
    background-color: transparent;

    &:hover {
      background-color: #51627b;
    }
  }

  .icons-wrap {
    cursor: pointer;

    & > span:nth-child(1) {
      font-size: 2rem;
      margin-right: 1.25rem;
    }

    span.icon-holder:nth-child(2) {
      font-size: 2.1rem;
    }

    span.avatar-holder:nth-child(2) {
      max-width: 31px;
      max-height: 31px;
    }

    span.avatar-holder:nth-child(3) {
      img#profile_avatar {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 2.5px solid white;
        background-color: $secondary;
      }
    }
  }
}

body.single .banner {
  .nav-item .nav-link::after {
    content: "";
    position: absolute;
    border-right: 0.5px solid $whitetrans;
    height: 35px;
    right: -2px;
  }
}

body:not(.single) .banner {
  .nav-item:not(.active):not(.second-to-active) .nav-link::after {
    content: "";
    position: absolute;
    border-right: 0.5px solid $whitetrans;
    height: 35px;
    right: -2px;
  }

  .nav-item {
    &.active {
      background-color: #404e63;
      border-bottom: 0.35rem solid $primary;
      pointer-events: none;

      .nav-link {
        padding: 1.25rem 1rem;
        padding-bottom: 1.25rem - 0.35rem;
      }
    }

    &:not(.active):not(.second-to-active) {
      margin-right: 4px;
    }
  }
}
