.blue-box-component {
  @include component-box($bluetrans);

  padding: 1rem 0;
  position: fixed;
  width: 19.2rem;

  div.profile-block {
    @include flex-content(center,center);

    padding: 1rem 0;

    div:first-child {
      margin: 0 1rem 0 1.5rem;
    }

    div:last-child {
      color: #fff;
    }
  }

  .profile-picture {
    width: 160px;
    border-radius: 50%;
    border: 5px solid #fff;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .profile-info {
    padding-right: 1.75rem;

    p {
      margin-bottom: 0;

      span {
        float: right;
      }

      &.part-title {
        line-height: 0.4rem;
        margin-top: 1rem;
      }
    }

    button {
      margin-top: 0.6rem;
      padding: 0.04rem 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;

      span {
        position: absolute;
        background-color: #fff;
        color: $primary;
        padding: 0.1rem 0.25rem;
        margin-left: 0.35rem;
        top: -1px;
        border-radius: 0 3px 3px 0;
      }
    }
  }
}
