div.gallery-preview-block {
  @include component-box($dark);

  width: 100%;
  height: 600px;
  overflow-y: hidden;
  background-blend-mode: multiply;
  margin-bottom: 8px !important;
  background-size: cover;

  p.h2 {
    color: #fff;
    padding: 1rem 1.5rem;
    text-align: right;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
  }

  .gallery-preview-images {
    padding: 0;
    overflow-x: hidden;

    ol {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0;
      width: 100%;
      height: 28.5rem;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;

      li.preview-image-btn {
        display: flex;
        padding: 0 4rem;
        background-color: $light;

        button {
          width: 165px;
          margin: auto;
          border-width: 2px;

          svg {
            font-size: 1.15rem;
          }
        }
      }

      li {
        list-style-type: none;
        margin-right: 0.35rem;
        position: relative;

        &.portrait {
          height: 28.5rem;
        }

        &.landscape {
          height: 16rem;
        }

        img {
          height: 100%;
          -moz-user-select: none;
          -webkit-user-select: none;
          user-select: none;
        }

        .view-image {
          @include flex-content(center,center)

            position: absolute;

          background-color: rgba(0, 0, 0, 0.15);
          display: none;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: 3.5rem;
          color: #fff;
        }

        &:hover .view-image {
          display: flex;

          svg:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .gallery-preview-control {
    ol {
      margin: 0.5rem 1.5rem 0;
      text-align: right;

      li {
        list-style-type: none;
        display: inline;
        margin: 0 0.35rem;
        position: relative;
        opacity: 1;

        &.img-hidden:hover {
          top: -3px;
          cursor: pointer;
        }

        &::after {
          content: "";
          padding: 0 0.4rem;
          border-radius: 50%;
          border: 3px solid #fff;
          font-size: 10px;
        }

        &.img-hidden::after {
          background-color: #fff;
        }
      }
    }
  }
}
