div.gallery-feed-block {
  @include component-box($dark);

  width: 100%;
  height: 600px;
  overflow-y: hidden;
  background-blend-mode: multiply;
  margin-bottom: 8px !important;
  background-size: cover;

  p.h2 {
    color: #fff;
    padding: 1rem 1.5rem;
    text-align: right;
    margin-bottom: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: capitalize;
  }

  .gallery-preview-images {
    padding: 0;

    ol {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0;
      width: 100%;
      overflow-x: hidden;
      height: 28.5rem;

      li {
        list-style-type: none;
        margin-right: 0.35rem;
        position: relative;

        &.portrait {
          height: 28.5rem;
        }

        &.landscape {
          height: 16rem;
        }

        img {
          height: 100%;
        }

        .view-image {
          @include flex-content(center,center)

            position: absolute;

          background-color: rgba(0, 0, 0, 0.15);
          display: none;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: 3.5rem;
          color: #fff;
        }

        &:hover .view-image {
          display: flex;
          cursor: grab;

          svg:hover {
            cursor: pointer;
          }
        }

        &:active .view-image {
          display: flex;
          cursor: move;
        }
      }
    }
  }

  .gallery-preview-control {
    ol {
      margin: 1.6rem 1.5rem 0;
      text-align: right;

      li {
        list-style-type: none;
        display: inline;
        margin: 0 0.35rem;
        cursor: pointer;
        position: relative;
        opacity: 1;

        &:hover {
          top: -3px;
        }

        &::after {
          content: "";
          padding: 0 0.4rem;
          border-radius: 50%;
          border: 3px solid #fff;
          font-size: 10px;
        }

        &.img-hidden::after {
          background-color: #fff;
        }
      }
    }
  }
}
