# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# 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

.cache-loader
dist
node_modules
npm-debug.log
yarn-error.log
/vendor
resources/assets/config-local.json
