div.news-preview {
  margin-bottom: 8px !important;

  > div.col {
    @include component-box(rgba(0, 0, 0, 0.25));

    height: 250px;
    background-size: cover;
    padding: 0;
    overflow-y: hidden;
    background-blend-mode: overlay;

    &:nth-child(1),
    &:nth-child(2) {
      margin-right: 8px;
    }

    .news-feed-control {
      position: absolute;
      padding-right: 11px;
      top: 0;
      width: 100%;
      text-align: right;
      height: 83%;
      z-index: 2;

      .save-bookmark-btn {
        color: #fff;
        font-size: 1.8rem;
      }

      & > * {
        visibility: hidden;
        cursor: pointer;
      }
    }

    .news-title {
      font-family: Amethysta, sans-serif;
      display: inline-block;
      height: 80%;
      padding: 0 1.5rem;
      position: relative;
      top: 3.5rem;
      z-index: 2;
    }

    div.news-meta {
      background-color: $light;
      padding: 0.6rem 1.5rem;
      position: relative;

      div.dv-wrap {
        font-weight: 300;
        text-align: left;
        padding: 0 0.25rem;

        span:first-child {
          padding-right: 0.5rem;
          color: $dark;
          font-family: Roboto, sans-serif;
        }

        span:last-child {
          color: #fff;
          background-color: $dark;
          padding: 0.6rem 0.75rem;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  & > div:hover > div.news-feed-control {
    background: linear-gradient(180deg, rgba(74, 88, 110, 0.85) 15%, rgba(74, 88, 110, 0.75) 20%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;

    .save-bookmark-btn,
    a {
      visibility: visible;
    }

    .save-bookmark-btn:hover {
      opacity: 0.6;
    }
  }
}
