//Single VIP Deal Column
body.single-vip-deal {
  #dynamic-container {
    flex: 0 0 90%;
    max-width: 90%;
  }
}

// Single VIP Deal Block
.vip-deal-single-wrap {
  position: absolute;
  z-index: 2;
  translate: 4rem 2rem;
  padding-bottom: 5rem;
  width: 100%;

  .vip-deal-single-close {
    color: $dark;
    font-size: 3rem;
    position: absolute;
    left: -5.5rem;
    top: -1rem;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  div.vip-deal-single-block {
    height: 400px;
    background-size: cover;
    display: flex;
    position: relative;

    div:first-child {
      align-self: end;
      width: 100%;
      padding: 1rem;
      margin-bottom: 1.25rem;
      background: linear-gradient(90deg, rgba(74, 88, 110, 0.96) 70%, rgba(0, 0, 0, 0) 100%);

      p.vip-deal-main-text {
        font-family: Amethysta, sans-serif;
        margin-bottom: 0;
        line-height: 1;
        margin-left: 95px;
      }

      p.vip-deal-sub-category {
        margin-bottom: 0;
        font-weight: 800;
        font-family: Amethysta, sans-serif;
        margin-left: 97px;
      }
    }
  }

  div.vip-icon {
    margin: 1.9rem 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;

    img {
      width: 100%;
      border: 4px #fff solid;
      border-radius: 50%;
    }
  }

  div.call-to-action {
    margin: 1rem 1.25rem;
    position: absolute;
    right: 0;
    top: 0;

    span {
      font-size: 1.25rem;
      margin-right: 8px;
      vertical-align: middle;
    }
  }

  .vip-deal-single-tags-date {
    color: $dark;
    margin-bottom: 1.5rem;
    text-align: right;
    margin-top: 1.5rem;
    margin-right: 1.5rem;

    .vip-deal-tags {
      background-color: $dark;
      padding: 0.5rem 0.75rem;
      margin-right: 0.5rem;

      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }

  .vip-deal-single-content {
    color: $dark;
    text-align: justify;
    margin: 2rem 1rem;
  }

  .comment-body {
    margin: 2rem;
  }

  #comments * :not(#submit) {
    color: $dark;
  }

  .comment-form .form-submit {
    text-align: right;
  }

  .comment-form input[type="submit"] {
    @extend .btn-dark;
  }
}

// Lightbox
.single-lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 70px;
  left: 0;
  z-index: 1;
}
