.banner {
  background-color: $dark;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.banner .navbar-brand {
  font-size: 2.5rem;
  font-weight: 800;
  color: $warning;
  max-width: 100px;
}

.banner nav {
  flex-flow: row nowrap;

  .navbar-nav {
    flex-direction: row;
  }
}

.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner .nav-link {
  padding: 1.25rem 0.9rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}

.banner .icons-wrap {
  @include flex-content(center,center);

  padding: 0.5rem 0;
  margin-left: 1.5rem;
  height: 100%;
}

.banner .icon-holder.account-icon {
  border: 2px solid white;
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  font-size: 1.2rem;
}
