/* amethysta-regular - latin */
@font-face {
  font-family: "Amethysta";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amethysta/amethysta-v9-latin-regular.eot");
  src:
    local(""),
    url("../fonts/amethysta/amethysta-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/amethysta/amethysta-v9-latin-regular.woff2") format("woff2"),
    url("../fonts/amethysta/amethysta-v9-latin-regular.woff") format("woff"),
    url("../fonts/amethysta/amethysta-v9-latin-regular.ttf") format("truetype"),
    url("../fonts/amethysta/amethysta-v9-latin-regular.svg#Amethysta") format("svg");
}

/* roboto-100 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/roboto-v27-latin-100.eot");
  src:
    local(""),
    url("../fonts/roboto/roboto-v27-latin-100.eot?#iefix") format("embedded-opentype"),
    url("../fonts/roboto/roboto-v27-latin-100.woff2") format("woff2"),
    url("../fonts/roboto/roboto-v27-latin-100.woff") format("woff"),
    url("../fonts/roboto/roboto-v27-latin-100.ttf") format("truetype"),
    url("../fonts/roboto/roboto-v27-latin-100.svg#Roboto") format("svg");
}
