:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Roboto", "Amethysta" !important;
}

body {
  background-image: url("../images/papertexture0.jpg");
  background-size: 122%;
  background-repeat: no-repeat;
  background-position-x: 34%;
  background-color: $warning;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: #fff;
  font-family: sans-serif;

  #top-feed.hide-dynamic-container #dynamic-container {
    display: none;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;

  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}

.row > * {
  @include gutter;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}

.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}

.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}

.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}

.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}

.trans-borderline::after {
  content: "";
  width: 100%;
  border-top: 1px solid $whitetrans;
  display: block;
}

.part-title {
  @extend .h5;

  font-weight: bold;
}

.content_counter {
  padding: 0.1rem 0.25rem;
  margin-top: 0.2rem;
  margin-left: 0.4rem;
  font-size: 0.9rem;
  border-radius: 3px;

  &.single-number {
    padding: 0.1rem 0.5rem;
  }
}

.taxonomy-term-title {
  padding: 1rem 2rem;
  text-align: right;
  text-transform: capitalize;
  font-size: 3.5rem;
}

.search-result,
.page-not-found {
  background-color: #fff;
  padding: 3rem 4rem;
  margin-top: 2rem;
  color: $dark;
  min-height: 83vh;

  article {
    margin: 2rem 0 3rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12rem;
  }
}

.four-zero-four {
  font-size: 20rem;
  text-align: center;
  margin-top: 6rem;
  font-family: Roboto, sans-serif;
}

div.nav-account {
  position: absolute;
  background: #fdfdfd;
  color: $dark;
  right: -0.25rem;
  bottom: -50px;
  padding: 0.75rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  border: 2px solid #4a586e0a;

  & > span {
    padding: 0.35rem 0.75rem;
    cursor: pointer;

    &:first-child {
      border-right: 1px solid $dark;
      padding-right: 1.75rem;
    }

    &:last-child {
      padding-left: 1.5rem;
    }

    a:hover {
      text-decoration: none;
    }
  }

  & > div.logged-in-user {
    display: flex;
    text-align: right;
    margin: -0.85rem;
    flex-direction: column;
    margin-bottom: -80px;

    span {
      background: #fdfdfd;

      &:first-child {
        padding: 0.25rem 0.75rem;
      }
    }

    a {
      display: block;
      padding: 0.25rem 0.75rem;
      color: $dark;

      &:hover {
        text-decoration: none;
        background-color: $dark;
        color: white !important;
      }
    }
  }
}

body.profile.page a.profile,
body.account.page a.manage-account {
  pointer-events: none;
  background-color: $dark;
  color: white !important;
}

div.tooltip.fade.show.bs-tooltip-bottom {
  display: none !important;
}

div.tooltip[role=tooltip] {
  font-weight: 500 !important;
}
