/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #518ff7,
);

$success: #64a750;
$warning: #f0c256;
$danger: #b04c4e;
$dark: #4a586e;
$light: #f7f1e8;
$bluetrans: rgba(74, 88, 110, 0.96);
$whitetrans: rgba(232, 241, 247, 0.25);
$iconcolor: rgba(232, 241, 247, 0.75);

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Super Extra large screen / wide desktop
  sxl: 1320px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  sxl: 1280px
);

@mixin gutter {
  flex-shrink: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

@mixin component-box($color) {
  border-radius: 10px;
  background-color: $color;
}

@mixin flex-content($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
