/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #518ff7,
);

$success: #64a750;
$warning: #f0c256;
$danger: #b04c4e;
$dark: #4a586e;
$light: #e8f1f7;
$bluetrans: rgba(74, 88, 110, 0.96);
$whitetrans: rgba(232, 241, 247, 0.25);

@mixin flex-content($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
